# === General ===
.DS_Store
*.pem
*.tsbuildinfo
*.log
TODO.md
# === Environment Variables ===
**/.env*
!.env.example

# === Node Modules ===
**/node_modules/

# === Debug Logs ===
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# === Frontend ===
/frontend/.next/
/frontend/out/
/frontend/build/
/frontend/.vercel/
/frontend/.pnp/
/frontend/.pnp.* 
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/versions
/frontend/coverage/
frontend/next-env.d.ts

# === Backend ===
/backend/dist/
/backend/build/
/backend/coverage/
/backend/prisma/dev.db
/backend/prisma/dev.db-journal

# === Optional ===
# Ignore local VS Code settings
.vscode/
