# === General ===
.DS_Store
*.pem
*.tsbuildinfo
*.log
TODO.md
# === Environment Variables ===
**/.env*
!.env.example

# === Node Modules ===
**/node_modules/

# === Debug Logs ===
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# === Frontend ===
apps/frontend/.next/
apps/frontend/out/
apps/frontend/build/
apps/frontend/.vercel/
apps/frontend/.pnp/
apps/frontend/.pnp.* 
apps/frontend/.yarn/*
!apps/frontend/.yarn/patches
!apps/frontend/.yarn/plugins
!apps/frontend/.yarn/releases
!apps/frontend/.yarn/versions
apps/frontend/coverage/
apps/frontend/next-env.d.ts

# === Backend ===
apps/backend/dist/
apps/backend/build/
apps/backend/coverage/
apps/backend/prisma/dev.db
apps/backend/prisma/dev.db-journal

# === Turborepo ===
.turbo/

# === Optional ===
# Ignore local VS Code settings
.vscode/
